div.ui-datepicker
{
 	font-size:10px;
}

.justify
{
	text-align:justify;	
}

.next_btns
{
	padding: 8px 20px;
	font-weight: bold;
	border-radius: 5px;
	font-family: Calibri;
	font-size: 14px;
	border: 1px solid #CECECE;
	background-color: #22A1BC;
	color: white;
	text-shadow: 0px -1px 0px #6F6F6F;
	float: right;
}

#saturday_table, #weekday_table
{
	border-collapse: separate;
	border-spacing: 20px 5px;
}

#saturday_table tr:first-child, #weekday_table tr:first-child
{
	display:block;
}

.saturday_trs, .weekday_trs
{
	display:none;
}

#saturday_ts, #weekday_ts
{
	width:50px;
}

section
{
	border: solid 2px #6F6F6F;
	border-radius: 5px;
	font-family: "Calibri";
	font-size: 16px;
	padding: 20px 50px 20px 50px;
	width: 600px;
	height: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -350px;
	margin-top: -200px;
}

#startdate, #enddate
{
	background-color: white;
	background-image: url("../codebase/imgs_dhx_terrace/calendar.gif");
	background-repeat: no-repeat;
	background-position: 138px;
	background-size: 18px;
	padding-right: 5px;
	padding-left: 5px;
	border-radius: 5px;
}